// app global css in SCSS form
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: 'Open Sans';
  src:
       url(~assets/fonts/open-sans/OpenSans-Regular-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url(~assets/fonts/open-sans/OpenSans-Bold-webfont.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}

html {
  font-size: 100%;

  @include to($FHD) {
    font-size: 45%;
  }

  @include to($_1440) {
    font-size: 37%;
  }
}


body {
  @apply tw-font-op-sans tw-text-white;
}

a[type="button"] {
  appearance: none;
}

input:focus {
  outline: none;
}

button:focus {
  outline: 0;
}

.app-notification {
  padding: convertValues(40px 60px);
  font-size: convertValues(40px);
}

.app-notification .q-notification__icon {
  margin-right: convertValues(40px);
  font-size: convertValues(40px);
}

a[type=button] {
  appearance: none
}

input:focus {
  outline: none;
}

button:focus {
  outline: 0
}

.app-main-bg {
  background: #141b32;
}

.slide-text-sm {
  font-size: 100px;
  line-height: 100px;
  @apply tw-font-bold;
}

.slide-text-sm2 {
  font-size: 110px;
  line-height: 110px;
  @apply tw-font-bold;
}

.slide-text-md {
  font-size: 150px;
  line-height: 150px;
  @apply tw-font-bold;
}

.slide-text-lg {
  font-size: 170px;
  line-height: 150px;
  @apply tw-font-bold;
}

.slide-text-xl {
  font-size: 200px;
  line-height: 200px;
  @apply tw-font-bold;
}
